/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Estilo del encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0044cc;
    color: #fff;
}

#logo img {
    height: 50px;
}

#user-info {
    display: flex;
    align-items: center;
}

#user-data, #dropdown button {
    margin-left: 10px;
    background-color: #fff;
    color: #0044cc;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo del formulario principal */
main {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #0044cc;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: calc(100% - 20px);
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    background-color: #fff;
    cursor: pointer;
}

button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    background-color: #0044cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0033aa;
}

/* Estilo para el apartado de opciones de administrador */
#admin-options {
    display: none; /* Oculto inicialmente */
    margin-top: 15px;
}
