@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

* {
  margin: 0;
  padding: 0;
}

header {
  /* modificaciones del encabezado*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4; /* color del encabezado*/
}

#logo img {
  height: 50px; /* altura del logo */
  width: auto; /* ancho automático para mantener la proporción */
}

.calendario button {
  /* modificaciones del boton de busqueda */
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #2278c8;
}

#user-info {
  display: flex;
  align-items: center;
}

body {
  /* modificacion en general del cuerpo donde se encuentra la tabla */
  font-family: "Teachers", sans-serif;
  font-weight: 400;
  background: linear-gradient(135deg, #1e1e2a, #2d2d39);
  color: aliceblue; /* color del texto dentro de la tabla*/
}

.guardias {
  /* modificaciones de la tabla */
  text-align: center;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.guardias thead tr th {
  /* modificaciones del encabezado de la tabla */
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #2b3856;
  padding: 1rem;
}

.guardias thead tr td {
  /* modificaciones de las celdas de la tabla */
  font-size: 1rem;
}

.guardias tbody tr:nth-child(odd) {
  /* modifica los colores de las celdas impares de la tabla */
  background-color: #687eb0;
}
.guardias tbody tr:nth-child(even) {
  /* modifica los colores de las celdas pares de la tabla */
  background-color: #425277;
}

.guardias tbody tr td,/*hace una sepacacion entre las celdas*/
.guardias tbody tr th {
  padding: 10px;
}

.guardias tbody tr td:last-child {
  /*hace que al pasar el cursor cambie de color*/
  cursor: pointer;
}

.guardias tbody tr td:last-child:hover {
  /* cambia el color al pasar el cursor */
  background-color: #ffba08;
}

/* Estilos del botón desplegable de usuario */
.user-dropdown {
  position: relative;
}

.user-button {
  background-color: #ffffff;
  color: #0050d4;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  min-width: 180px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.dropdown-menu button:hover {
  background-color: #eaeaea;
}

/* Mostrar el menú cuando el contenedor tiene clase activa */
.user-dropdown.active .dropdown-menu {
  display: flex;
}